doctype html
head
  meta(charset='utf8')
  meta(name='viewport' content='width=device-width')
  title nHost
  link(rel='stylesheet' type='text/css' href='/css/cyberpunk.css')
.inner
  center
    br
    br
    br
    h1 Welcome to nHost
  br
  .body
    center
      p
        | nHost is a free 
        strong Cpanel
        |  hosting for everyone.
      p The host use Litespeed and OVH Server
      p
        | The host Support 
        s all
        |  illegal content and Unlimited Storage.
      p
        a(href='status') Click Here
        |  to see Specification or Status Server
      p
        | You can register for get free host. 
        a(href='mailto:nhentai@rape.lol?subject=Register Free Cpanel Hosting') Click Here
        |  or 
        strong Frozzy#4246
        |  at 
        strong Discord
        |  to regiter
